#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}


#depthValues {
	position: absolute;
	z-index:20;
	left: 0px;

}

table,tr,td,input{

	width:90px;
	font-size: 9px;

}

th {
	font-size: 11px;
}